
div {
    display: block;
    float:center; 
}

#divCenter { 
    background-color: #e2f7fd; 
    width: 500px; 
    height: 370px;
    padding:10px;
    position: relative;
    text-align:center; 
    top: 42%;
    left: 30%; 
}

.first
{
    color: rgb(85, 84, 84);
    text-align: center;
    font-family: cursive;
    
}
