
<div id ="divCenter" class="ui-g ui-fluid">    
    <h3 class="first">Alunos</h3> 
    <button  style="width:80px;bottom:20px;left:85%" type="button" pButton (click)="novo()" class="ui-button" icon="fa fa-plus-square-o "></button>
    
    <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
        <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
        <input #gb type="text" pInputText size="50" placeholder="Global Filter">
    </div>
    <p-growl [(value)]="msgs"></p-growl>
    <p-dataTable [globalFilter]="gb" [value]="aluno" [paginator]="true" rows="3" [responsive]="true">
        <p-column [style]="{'width':'200px'}" field="nome" header="Nome"></p-column>
        <p-column [style]="{'width':'100px'}" field="cpf" header="CPF"></p-column>
        <p-column [style]="{'width':'90px','text-align':'center'}" styleClass="col-button" header="Excluir">
          <ng-template let-aluno="rowData" pTemplate="body" let-ri="rowIndex">
            <button  style="width:30px;" type="button" pButton (click)="editar(aluno.id)" class="ui-button" icon="fa fa-pencil"></button>   
            <button  style="width:30px;" type="button" pButton (click)="excluir(aluno.id)" class="ui-button-danger" icon="fa fa-trash"></button>
          </ng-template>
          
        </p-column>
        
    </p-dataTable>

</div>
