div {
    display: block;
    float:center; 
}

#divCenter { 
    background-color: #e2f7fd; 
    width: 50%; 
    height: 370px;
    padding:10px;
    position: relative;
    top: 42%;
    left: 30%;  
}

.first
{
    color: rgb(85, 84, 84);
    text-align: left;
    font-family: cursive;
    font-size: 30px;
    
}
